# Vim Swap files
*.swp

# Goreleaser build directory
/dist

# Directories used while experimenting locally
build
/csv
/experiments
www

# Directory to hold development notes
notes

# Release notes
release.md
